<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/listadoUsuarios.css" />
    
    <title>Listado de usuarios</title>
</head>
<body>
<!--------------------------- modal de editar datos de usuarios registrados ------------------------->
<section id="modalEditarUsuario" class="modalDialog">

    <div class="modal">
    <form action="/listaUsuarios/<%= usuariosSolos.id %>?_method=PUT" method="POST"  class="formulario">
        <div class="nombre">      
            <input type="text" name="nombreYapellido" class="boton3" id="nombre"  value="<%= usuariosSolos.nombreYapellido %>" required minlength="4">
        </div>
        <div class="nombre-usuario">
            <input outline="none"  type="text" name="nombreUsuario" class="boton3" id="nombreUsuario"  required minlength="4">
        </div>

        
         <div class="foto">
            <label class="fechaNacimiento">Fecha de nacimiento</label>
            <input  type="date" name="fechaNacimiento" class="boton3" id="fechaNacimiento" >
        </div>
        
    
        <div class="nombre">
            <input type="emil" name="email" class="boton3" id="email" placeholder="e-mail" required>
        </div>
        <div class="nombre">
            <input type="password" name="clave" class="boton3" id="password" placeholder="Contraseña" required minlength="4">
        </div>
        <div class="nombre">
            <input type="password" name="confirmarClave" class="boton3" id="confirmarpassword" placeholder="Confirmar" required minlength="4">
        </div>
        
        <div class="reg-reset">
            <button class="reset" type="reset" ><a href="/listaUsuarios" title="Close" id="close">Volver</a></button>
            <button class="register" type="submit">Guardar</button>
        </div>

    </form>
</div>
</section>
<!------------------------------------------------------------------------------------------------------------------------->
<!-----------------------------------------------------emergente seguro borrar --------------------------------------------------------->
<section id="seguroBorrar" class="modalDialog">

    <div class="modal">
    
        <div class="nombre">      
            <h4>¿seguro quiere borrar?</h4>
        </div>
        <div class="nombre-usuario">

            <form action="/listaUsuarios/<%= usuariosSolos.id %>?_method=DELETE" method="POST">
            <button class="borrar-usuario" type="submit" >Borrar Usuario</button>
            </form>

        </div>
        <div class="nombre-usuario">
            <button class="boton3" type="submit"><a href="/listaUsuarios">Volver</a></button>     
        </div>
   
</div>
</section>
<!------------------------------------------------------------------------------------------------------------------------->
<!-----------------------------------------------------parte principal de tabla lista de usuarios --------------------------------------------------------->
<section class="container3">
    
<table class="tablaUsuarios" >
    <caption class="encabezado">Listado de usuarios</caption>
    <tr>
      <th class="titulos">Nombre y Apellido</th><th class="titulos">Nombre de usuario</th><th class="titulos">Categoría</th>
      <th class="titulos">email</th><th class="titulos">clave</th>
    </tr>
    <tr>
        <% for(let i=0; i < usuariosSolos.length; i++) {%>
      <td class="fila"><%=usuariosSolos[i].nombre_y_apellido  %></td>
      <td class="fila"><%= usuariosSolos[i].nombre_usuario %></td>
      <td class="fila"><%= usuariosSolos[i].rol %></td>
      <td class="fila"><%= usuariosSolos[i].email %></td>
     
      <td class="botones">
        <button class="botonEditar" type="submit"  data-dismiss="modal"><a href="/formUsuario/<%= usuariosSolos[i].id %> ">Editar</a></button>
        <form action="/listaUsuarios/<%= usuariosSolos[i].id %>?_method=DELETE" method="POST">
                    <button class="botonBorrar" type="submit" >Borrar</button>
        </form>
        </td>
    </tr>
    <%}%>
</table>

  <div class="nombre-usuario">
    <button class="botonVolver" type="reset"><a href="/listadoProductos">Volver</a></button>     
    </div>

</section>



</body>
</html>